<% include partials/header.ejs %>

  <body>
    <% include partials/nav.ejs %>
    <h1><%= title %></h1>
    <p><%= projName1 %></p>
    <p><%= desc1 %></p>
    <img src="/images//project1.png" alt="multiplication table">
    <br>
    <p><%= projName2 %></p>
    <p><%= desc2 %></p>
    <img src="/images//project2.png" alt="Moving slides">
    <br>
    <p><%= projName3 %></p>
    <p><%= desc3 %></p>
    <img src="/images//project3.png" alt="Flying">


  </body>

<% include partials/footer.ejs %>