<% include partials/header.ejs %>

  <body>
    <% include partials/nav.ejs %>
    <h1><%= title %></h1>

      <p><%= service1 %></p>
      <p><%= service2 %></p>
      <p><%= service3 %></p>
      <p><%= service4 %></p>
      <p><%= service5 %></p>
      <p><%= service6 %></p>

      <img src="/images//servicei.png" alt="services">

  </body>

<% include partials/footer.ejs %>